$info-color: hsla(210, 60%, 65%, 1);
$content-color: hsla(0, 0%, 80%, 1);
$href-color: hsla(180, 100%, 86%, 0.89);
$href-hover-color: hsla(57, 100%, 76%, 0.89);

@import './card';
@import './containers';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  word-wrap: break-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-color {
  color: $content-color;
}

a {
  outline: none;
  text-decoration: none;
  color: $href-color;

  &:hover {
    color: $href-hover-color;
    &::after {
      content: '\1F517';
      margin-left: 6px;
    }
  }
}