.card-tags {
  margin-right: 10px;
  height: 100%;
  width: 55px;
  min-width: 55px;
  color: $content-color;
}

.card-text {
  margin-top: 16px;
}

.card-divider {
  width: 1px;
  height: auto;
  margin-right: 10px;
  border-right: 3px solid $divider-color;
}

.card-video-preview {
  width: 220px;
  margin-right: 20px;
  border-radius: 6px;
}