.card-tags {
  margin-right: 10px;
  height: 100%;
  width: 55px;
  min-width: 55px;
  color: $content-color;
}

.card-text {
  margin-top: 16px;
  color: $content-color;
}

.card-title {
  color: $href-hover-color;
}

.card-video-preview {
  width: 220px;
  margin-right: 20px;
  border-radius: 6px;
}

.card-content {
  width: 90%;
}

.tags-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  width: 10%;
  border-right: 3px solid $divider-color;
  padding-right: 5px;
  margin-right: 10px;
}