$info-color: hsla(210, 60%, 65%, 1);
$content-color: hsla(0, 0%, 80%, 1);
$href-color: hsla(180, 100%, 86%, 0.89);
$href-hover-color: hsla(57, 100%, 76%, 0.89);
$bg-color: hsla(210, 20%, 10%, 1);
$divider-color: hsla(210, 60%, 65%, 0.2);
$header-color: #16202a;
$highlight-color: hsl(26, 85%, 57%);

@import './card';
@import './containers';
@import './_base';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  word-wrap: break-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fixed {
  position: absolute;
}

.content-color {
  color: $content-color;
}

a {
  outline: none;
  text-decoration: none;
  color: $href-color;

  &:hover {
    color: $href-hover-color;
    &::after {
      content: '\1F517';
      margin-left: 6px;
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: $bg-color;
  padding: 4px;
  border-radius: 4px;
  color: $content-color;
  min-height: 200px;
  border: 1px solid $info-color;
}

.MuiIconButton-root {
  border-radius: 4px !important;
}

/** Полоса прокрутки */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $bg-color;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  background-color: $bg-color;
  border-radius: 20px;
  border: 1px solid $divider-color;
}

img {
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.loader {
  width: 60px;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1;
}
.loader:before,
.loader:after {
  content: "";
  flex: 1;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px,#16202a 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  filter: drop-shadow(30px 30px 0 #16202a);
  animation: l20 1s infinite;
}
.loader:after {
  transform: scaleX(-1);
}
@keyframes l20 {
  0%   {background-position:0     0, 10px 10px, 20px 20px}
  33%  {background-position:10px  10px}
  66%  {background-position:0    20px,10px 10px,20px 0   }
  100% {background-position:0     0, 10px 10px, 20px 20px}
}