$content-color: hsla(0, 0%, 80%, 1);
$title-color: hsl(40,73.3%,66.3%);
$controller-color: hsl(98,20.5%,43.9%);
$href-hover-color: hsl(18,61.7%,45.1%);
$bg-color: hsla(210, 20%, 10%, 0.8);
$divider-color: hsla(210, 60%, 65%, 0.2);
$header-color: #16202a;

@import './card';
@import './containers';
@import './_base';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  word-wrap: break-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fixed {
  position: absolute;
}

.logo-title {
  display: flex;
  width: 110px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: hsl(179,99.2%,46.9%);
}

a {
  outline: none;
  text-decoration: none;
  color: $title-color;
  font-weight: 500;

  &:hover {
    color: $href-hover-color;
    &::after {
      content: '\1F517';
      margin-left: 6px;
    }
  }
}

.MuiIconButton-root {
  border-radius: 4px !important;
}

/** Полоса прокрутки */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $bg-color;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  background-color: $bg-color;
  border-radius: 20px;
  border: 1px solid $divider-color;
}

img {
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.loader {
  width: 60px;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1;
}
.loader:before,
.loader:after {
  content: "";
  flex: 1;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px,#16202a 90deg,#0000 0);
  background: var(--g), var(--g), var(--g);
  filter: drop-shadow(30px 30px 0 #16202a);
  animation: l20 1s infinite;
}
.loader:after {
  transform: scaleX(-1);
}
@keyframes l20 {
  0%   {background-position:0     0, 10px 10px, 20px 20px}
  33%  {background-position:10px  10px}
  66%  {background-position:0    20px,10px 10px,20px 0   }
  100% {background-position:0     0, 10px 10px, 20px 20px}
}