@media only screen and (max-device-width: 1000px) {
  * {
    font-size: 24px;
  }

  .fixed-main {
    left: 0;
  }

  .middle-content-container, .main-nav-container, .welcome-preview {
    min-width: 100px;
    width: 100% !important;
  }

  .tags-container, .video-card-container {
    display: block;
  }

  div[role=tabpanel] {
    padding: 0;
  }

  .card-video-preview, .divider-pc {
    display: none;
  }

  .mobile-logo-title {
    margin-right: 12px;
    width: 60px;
  }

  .content-container {
    margin-bottom: 40px;
  }

  .main-nav-container {
    display: grid;
    grid-template-columns: 50% 50%;
    p {
      display: flex;
      justify-content: center;
    }
  }

  .divider-mobile {
    display: inline-block;
    margin: 0 8px;
  }
}