@media only screen and (max-device-width: 1000px) {
  .fixed-main {
    left: 0;
    max-width: 100vw;
  }

  * {
    font-size: 17px;
  }

  .main-content-container {
    min-width: 0;
  }

  .middle-content-container, .main-nav-container, .welcome-preview {
    min-width: 100px;
    width: 100% !important;
  }

  .tags-container, .video-card-container {
    display: block;
  }

  div[role=tabpanel] {
    padding: 0;
  }

  .card-video-preview, .divider-pc {
    display: none;
  }

  .mobile-logo-title {
    margin: 4px 6px 0 0;
    width: 60px;
  }

  .content-container {
    margin-bottom: 40px;
  }

  .main-nav-container {
    gap: 0;
    border: 1px solid hsl(171, 8%, 69%);
    border-radius: 4px;
    text-align: center;

    p {
      line-height: 31px;
      border-right: 1px solid hsl(171, 8%, 69%);
      flex: 1 auto;

      &:last-child {
        border: none;
      }
    }
  }
}