.video-container {
  position: relative;
}

.video-link {
  &:hover {
    &::after {
      content: '';
    }
  }
}

.card-video-preview {
  margin-right: 20px;
  border-radius: 6px;
  min-width: fit-content;
}

.video-button {
  position: absolute;
  top: 15%;
  left: 87%;
  z-index: 1;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-button-shape {
  fill: #ff0000;
  fill-opacity: 0.8;
}

.video-button-icon {
  fill: #ffffff;
}

.video-button:focus {
  outline: none;
}

.video-container:hover .video-button-shape,
.video-button:focus .video-button-shape {
  fill: hsl(40,73.3%,66.3%);
  fill-opacity: 1;
}

.video-enabled, .video-media {
  cursor: pointer;
}

.video-enabled .video-button {
  display: block;
}

.video-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .card-container {
    justify-content: center;
    align-items: center;
    min-height: 208px;
  }
}

.big-video-container {
  width: 97%;
  height: auto;
  min-height: 400px;
  padding: 12px;
  background-color: $bg-color;
  border-radius: 6px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  margin: 10px;
  display: flex;
  justify-content: center;
}
